<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
        <link rel="stylesheet" href="~/css/index.css">
        
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark navBG" style="border-radius: 0 0 5px 5px;">
                <div class="container-fluid">
                    @* <header>
                        <h2 class="text-light">
                            結合後設認知策略與運算思維框架的互動式程式設計合作學習環境
                        </h2>
                    </header> *@
                    <a class="navbar-brand" href="/">結合後設認知策略與運算思維框架的互動式程式設計合作學習環境</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Dropdown" aria-controls="Dropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="Dropdown">
                        <ul class="navbar-nav">
                            @await Html.PartialAsync("_LoginPartial")
                        </ul>
                    </div>
                    
                </div>
            </nav>
        </div>
        <div class="container">
            <main>
                @RenderBody()
            </main>            
        </div>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
         @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
